@charset "UTF-8";

@font-face {
  font-family: "Raleway-Bold";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-BoldItalic";
  font-display: swap;
  src: url("../fonts/Raleway-BoldItalic.woff") format("woff"), url("../fonts/Raleway-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-ExtraBold";
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-BlackItalic";
  font-display: swap;
  src: url("../fonts/Raleway-BlackItalic.woff") format("woff"), url("../fonts/Raleway-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-ExtraLightItalic";
  font-display: swap;
  src: url("../fonts/Raleway-ExtraLightItalic.woff") format("woff"), url("../fonts/Raleway-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Italic";
  font-display: swap;
  src: url("../fonts/Raleway-Italic.woff") format("woff"), url("../fonts/Raleway-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-ExtraLight";
  font-display: swap;
  src: url("../fonts/Raleway-ExtraLight.woff") format("woff"), url("../fonts/Raleway-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Medium";
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-LightItalic";
  font-display: swap;
  src: url("../fonts/Raleway-LightItalic.woff") format("woff"), url("../fonts/Raleway-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Regular";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Black";
  font-display: swap;
  src: url("../fonts/Raleway-Black.woff") format("woff"), url("../fonts/Raleway-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-SemiBold";
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-ExtraBoldItalic";
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBoldItalic.woff") format("woff"), url("../fonts/Raleway-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-SemiBoldItalic";
  font-display: swap;
  src: url("../fonts/Raleway-SemiBoldItalic.woff") format("woff"), url("../fonts/Raleway-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-MediumItalic";
  font-display: swap;
  src: url("../fonts/Raleway-MediumItalic.woff") format("woff"), url("../fonts/Raleway-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-ThinItalic";
  font-display: swap;
  src: url("../fonts/Raleway-ThinItalic.woff") format("woff"), url("../fonts/Raleway-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Thin";
  font-display: swap;
  src: url("../fonts/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?29925604");
  src: url("../fonts/fontello.eot?29925604#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?29925604") format("woff2"), url("../fonts/fontello.woff?29925604") format("woff"), url("../fonts/fontello.ttf?29925604") format("truetype"), url("../fonts/fontello.svg?29925604#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?29925604#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-up:before {
  content: '\e800';
}

/* '' */

.icon-camera:before {
  content: '\e801';
}

/* '' */

.icon-user:before {
  content: '\e802';
}

/* '' */

.icon-quote:before {
  content: '\e803';
}

/* '' */

.icon-left:before {
  content: '\e804';
}

/* '' */

.icon-right:before {
  content: '\e805';
}

/* '' */

.icon-github:before {
  content: '\f300';
}

/* '' */

.icon-facebook:before {
  content: '\f30c';
}

/* '' */

.icon-linkedin:before {
  content: '\f318';
}

/* '' */

.icon-instagram:before {
  content: '\f32d';
}

/* '' */

/*-------------------------*/

/*---------RESET-----------*/

/*-------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
div,
canvas,
a,
p,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  display: block;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  font: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

span {
  margin: 0;
  padding: 0;
}

/*-------------------------*/

/*-----------APP-----------*/

/*-------------------------*/

#pagePreloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  font-family: 'Raleway', sans-serif;
  visibility: hidden;
}

.section_title__img {
  display: flex;
  justify-content: center;
  margin: 0 0 calc(15px + 1.0416666666666667vw) 0;
}

.section_title__text {
  text-align: center;
  font-size: calc(14px + 1.1111111111111112vw);
  line-height: calc(15px + 1.0416666666666667vw);
  font-weight: 700;
  color: #6c7988;
  margin: 0 20px calc(25px + 1.7361111111111112vw) 20px;
}

.section_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(7.5px + 0.5208333333333334vw);
}

.btn {
  margin: 0 calc(7.5px + 0.5208333333333334vw) 0 calc(7.5px + 0.5208333333333334vw);
  width: 170px;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(22.5px + 1.5625vw);
  border-radius: calc(25px + 1.7361111111111112vw);
  transition: all 0.5s ease-in-out;
  text-align: center;
  border: none;
  cursor: pointer;
}

.btn-dark {
  color: #fffefe;
  background-color: #6c7988;
}

.btn-dark:hover {
  color: #ffffff;
  background-color: #a3c5c3;
}

.btn-light {
  color: #6c7988;
  background-color: #f5f5f5;
}

.btn-light:hover {
  color: #ffffff;
  background-color: #6c7988;
}

/*-------------------------*/

/*---------HEADER----------*/

/*-------------------------*/

.header {
  background-color: #e0e6e9;
  padding: calc(50px + 3.4722222222222223vw) 0 calc(50px + 3.4722222222222223vw) 0;
}

.header_title {
  text-align: center;
  margin: 0 auto;
}

.header_title__text {
  text-align: center;
  font-size: calc(14px + 1.8055555555555556vw);
  line-height: calc(22.5px + 1.5625vw);
  color: #6c7988;
  font-weight: 700;
  margin: 0 auto calc(40px + 2.7777777777777777vw) auto;
}

.header_title__photo {
  width: 50px;
  margin: 0 auto;
  color: #6c7988;
  font-size: calc(14px + 0.4166666666666667vw);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.header_title__photo:hover {
  color: #ffffff;
}

.header_menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header_menu__item {
  margin: 0 10px calc(25px + 1.7361111111111112vw) 10px;
}

.header_menu__item_link {
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.header_menu__item_link:hover p {
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.header_menu__item_img {
  margin: 0 0 calc(7.5px + 0.5208333333333334vw) 0;
}

.header_menu__item_text {
  color: #6c7988;
  font-size: 14px;
  font-weight: 300;
  line-height: calc(14px + 0.9722222222222222vw);
}

.header_socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_socials__item {
  color: #6c7988;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(22.5px + 1.5625vw);
  margin: 0 calc(10px + 0.6944444444444444vw) 0 calc(10px + 0.6944444444444444vw);
  transition: all 0.5s ease-in-out;
}

.header_socials__item:hover {
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

/*-------------------------*/

/*----------ABOUT----------*/

/*-------------------------*/

.about {
  padding: calc(37.5px + 2.6041666666666665vw) 0 calc(37.5px + 2.6041666666666665vw) 0;
  background-color: #ffffff;
}

.about_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about_content__item {
  width: 400px;
  padding: 0 calc(7.5px + 0.5208333333333334vw) 0 calc(7.5px + 0.5208333333333334vw);
}

.about_facts__title {
  font-size: calc(14px + 0.6944444444444444vw);
  line-height: calc(16px + 1.1111111111111112vw);
  font-weight: 700;
  color: #6c7988;
  margin: 0 0 calc(10px + 0.6944444444444444vw) 0;
}

.about_facts__items_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  border-bottom: 1px solid rgba(110, 110, 110, 0.1);
}

.about_facts__items_item__title {
  color: #6c7988;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(15px + 1.0416666666666667vw);
}

.about_facts__items_item__content {
  font-weight: 400;
  text-align: right;
  float: right;
  color: #6c7988;
  font-size: 14px;
  line-height: calc(15px + 1.0416666666666667vw);
}

.about_description__title {
  margin: 0 0 calc(10px + 0.6944444444444444vw) 0;
  font-size: calc(14px + 0.6944444444444444vw);
  line-height: calc(16px + 1.1111111111111112vw);
  font-weight: 700;
  color: #6c7988;
}

.about_description__text_first {
  font-size: calc(14px + 0.1388888888888889vw);
  font-weight: 300;
  line-height: calc(14px + 0.9722222222222222vw);
  color: #6c7988;
  margin: 0 0 10px 0;
}

.about_description__text_second {
  color: #6c7988;
  font-size: 14px;
  font-weight: 300;
  line-height: calc(14px + 0.9722222222222222vw);
  margin: 0 0 10px 0;
}

/*-------------------------*/

/*----------RESUME---------*/

/*-------------------------*/

.resume {
  background-color: #fafafa;
  padding: calc(37.5px + 2.6041666666666665vw) 0 calc(37.5px + 2.6041666666666665vw) 0;
}

.resume_content__title {
  text-align: center;
  font-size: calc(14px + 0.6944444444444444vw);
  line-height: calc(16px + 1.1111111111111112vw);
  font-weight: 700;
  color: #6c7988;
  margin: calc(10px + 0.6944444444444444vw) 0 calc(15px + 1.0416666666666667vw) 0;
}

.resume_content__parts_row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.resume_content__parts_row:first-child {
  margin: 0 0 calc(25px + 1.7361111111111112vw) 0;
}

.resume_content__parts_row__col {
  width: 400px;
  padding: 0 calc(7.5px + 0.5208333333333334vw) 0 calc(7.5px + 0.5208333333333334vw);
}

.resume_content__item_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6c7988;
  font-size: 14px;
  line-height: calc(15px + 1.0416666666666667vw);
  margin: 0 0 5px 0;
}

.resume_content__item_text__title {
  font-weight: 700;
}

.resume_content__item_text__value {
  font-weight: 400;
}

.resume_content__item_progress {
  background-color: #f3f7f7;
  height: 3px;
  box-shadow: none;
  margin: 0 0 calc(10px + 0.6944444444444444vw) 0;
}

.resume_content__item_progress__up {
  width: 0;
  background-color: #a3c5c3;
  height: 3px;
  box-shadow: none;
}

.resume_opportunities__item {
  color: #6c7988;
  font-size: calc(14px + 0.1388888888888889vw);
  font-weight: 700;
  line-height: calc(21px + 1.4583333333333333vw);
  padding-left: calc(11px + 0.7638888888888888vw);
  margin: 0 0 10px 0;
}

.resume_opportunities__item:before {
  content: "";
  display: inline-block;
  position: relative;
  top: -3px;
  left: -20px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6c7988;
}

/*-------------------------*/

/*-----------WORKS---------*/

/*-------------------------*/

.works {
  background-color: #ffffff;
  padding: calc(37.5px + 2.6041666666666665vw) 0 calc(37.5px + 2.6041666666666665vw) 0;
  position: relative;
}

.works_filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.works_filter__item {
  cursor: pointer;
  color: #6c7988;
  font-size: calc(14px + 0.1388888888888889vw);
  font-weight: 700;
  line-height: calc(24px + 1.6666666666666667vw);
  transition: all 0.5s ease-in-out;
  padding: 0 10px 0 10px;
}

.works_filter__item:hover {
  color: #a3c5c3;
}

.works_filter__item.filter-active {
  border-bottom: 1px solid #a3c5c3;
}

.works_gallery__hover_content {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.works_gallery__hover_content_wrap {
  text-align: center;
  padding: 0 calc(15px + 1.0416666666666667vw);
}

.works_gallery__hover_content:hover {
  opacity: 0.7;
}

#grid {
  width: 1020px;
  margin: calc(10px + 0.6944444444444444vw) auto calc(25px + 1.7361111111111112vw) auto;
}

.grid-item {
  width: 500px;
  height: 250px;
  margin: 5px;
}

/*-------------------------*/

/*-----------BLOG----------*/

/*-------------------------*/

.blog {
  background-color: #f9fafa;
  padding: calc(37.5px + 2.6041666666666665vw) 0 calc(37.5px + 2.6041666666666665vw) 0;
}

.blog_gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.blog_gallery__item {
  width: 400px;
  margin: calc(7.5px + 0.5208333333333334vw) calc(7.5px + 0.5208333333333334vw) calc(15px + 1.0416666666666667vw) calc(7.5px + 0.5208333333333334vw);
}

.blog_gallery__item_header__tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #6c7988;
  font-size: 14px;
  font-weight: 400;
}

.blog_gallery__item_header__tags a {
  margin: 0 calc(10px + 0.6944444444444444vw) 0 0;
  transition: all 0.5s ease-in-out;
}

.blog_gallery__item_header__tags a:hover {
  color: #a3c5c3;
}

.blog_gallery__item_header__title {
  margin-bottom: 5px;
  color: #6c7988;
  line-height: calc(17px + 1.1805555555555556vw);
  font-size: calc(14px + 0.6944444444444444vw);
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.blog_gallery__item_header__title:hover {
  color: #a3c5c3;
}

.blog_gallery__item_img {
  background-color: #e0e6e9;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog_gallery__item_img img {
  width: 200px;
  height: 200px;
}

.blog_gallery__item_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog_gallery__item_footer__date {
  color: #6c7988;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(15px + 1.0416666666666667vw);
  transition: all 0.5s ease-in-out;
}

.blog_gallery__item_footer__date:hover {
  color: #a3c5c3;
}

.blog_gallery__item_footer__author {
  color: #6c7988;
  transition: all 0.5s ease-in-out 0s;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(15px + 1.0416666666666667vw);
}

.blog_gallery__item_footer__author:hover {
  color: #a3c5c3;
}

/*-------------------------*/

/*--------CONTACTS---------*/

/*-------------------------*/

.contacts {
  background-color: #e0e6e9;
  padding: calc(37.5px + 2.6041666666666665vw) 0 calc(37.5px + 2.6041666666666665vw) 0;
}

.contacts_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contacts_content__info {
  width: 400px;
  padding: 0 calc(7.5px + 0.5208333333333334vw) 0 calc(7.5px + 0.5208333333333334vw);
}

.contacts_content__info_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6c7988;
  font-size: 14px;
  line-height: calc(14px + 0.9722222222222222vw);
  margin: 0 0 10px 0;
}

.contacts_content__info_item__title {
  font-weight: 700;
}

.contacts_content__info_item__content {
  font-weight: 400;
}

.contacts_content__info_socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contacts_content__info_socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f7f7;
  font-size: calc(14px + 0.1388888888888889vw);
  font-weight: 400;
  width: 42px;
  height: 42px;
  background-color: #a3c5c3;
  border-radius: 50%;
  margin: calc(10px + 0.6944444444444444vw) 10px 0 0;
  transition: all 0.5s ease-in-out;
}

.contacts_content__info_socials__item:hover {
  background-color: #6c7988;
}

.contacts_content__form {
  width: 400px;
  padding: 0 calc(7.5px + 0.5208333333333334vw) 0 calc(7.5px + 0.5208333333333334vw);
}

input {
  border-radius: 0;
  box-shadow: none !important;
  -webkit-appearance: none;
}

textarea {
  box-shadow: none !important;
  -webkit-appearance: none;
}

.input-text {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(15px + 1.0416666666666667vw);
  margin-bottom: calc(7.5px + 0.5208333333333334vw);
  color: #6c7988;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgba(110, 110, 110, 0.1);
  background-color: transparent;
  outline: none;
  transition: all 0.5s ease-in-out;
}

.input-text:hover,
.input-text:focus,
.input-text:active {
  border: none;
  border-bottom: 1px solid #a3c5c3;
  outline: none;
}

.input-text::-webkit-input-placeholder {
  color: #6c7988;
}

.input-text:-ms-input-placeholder {
  color: #6c7988;
}

.input-text:-moz-placeholder {
  color: #6c7988;
}

.input-text::-moz-placeholder {
  color: #6c7988;
}

.input-textarea {
  width: 100%;
  color: #6c7988;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(10px + 0.6944444444444444vw);
  border: none;
  border-bottom: 1px solid rgba(110, 110, 110, 0.1);
  background-color: transparent;
  resize: none;
  outline: none;
  height: calc(40px + 2.7777777777777777vw);
  transition: all 0.5s ease-in-out;
  margin: 0 0 calc(15px + 1.0416666666666667vw) 0;
}

.input-textarea:hover,
.input-textarea:focus,
.input-textarea:active {
  border: none;
  border-bottom: 1px solid #a3c5c3;
  outline: none;
}

.input-textarea::-webkit-input-placeholder {
  color: #6c7988;
}

.input-textarea:-ms-input-placeholder {
  color: #6c7988;
}

.input-textarea:-moz-placeholder {
  color: #6c7988;
}

.input-textarea::-moz-placeholder {
  color: #6c7988;
}

.footer {
  height: calc(25px + 1.7361111111111112vw);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e6e9;
  border-top: 1px solid rgba(108, 121, 136, 0.1);
}

.footer_text {
  color: #6c7988;
  font-size: 14px;
}

/*-------------------------*/

/*----------FIXED----------*/

/*-------------------------*/

.scrollToTop {
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: calc(14px + 0.4166666666666667vw);
  position: fixed;
  bottom: calc(25px + 1.7361111111111112vw);
  right: 10px;
  display: none;
  color: #ffffff;
  border-radius: 50%;
  background-color: #d4dbdf;
  transition: all 0.5s ease-in-out;
}

.scrollToTop:hover {
  background-color: #a3c5c3;
}

.scrollToTop.active {
  display: flex;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal_content {
  width: 400px;
  height: auto;
  z-index: 1010;
  margin: calc(50px + 3.4722222222222223vw) auto;
  position: relative;
}

.modal_content__photo_closeBtn {
  position: absolute;
  color: #000000;
  font-size: calc(15px + 1.0416666666666667vw);
  top: 0;
  right: calc(7.5px + 0.5208333333333334vw);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.modal_content__photo_closeBtn:hover {
  color: #a3c5c3;
}

.fixed_menu {
  position: fixed;
  top: -60px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  height: 60px;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid #e0e6e9;
}

.fixed_menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #6c7988;
  font-size: 14px;
  font-weight: 400;
  margin: 0 calc(10px + 0.6944444444444444vw);
  transition: all 0.5s ease-in-out;
  position: relative;
}

.fixed_menu__item:hover {
  color: #a3c5c3;
}

.fixed_menu__item.active::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #a3c5c3;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.fixed_menu.active {
  top: 0;
  transition: all 0.5s ease-in-out;
}

.blogPage {
  background-color: #f9fafa;
  padding: calc(37.5px + 2.6041666666666665vw) 0 calc(37.5px + 2.6041666666666665vw) 0;
}

.blogPage_wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.blogPage_gallery__item {
  width: 600px;
  margin: calc(7.5px + 0.5208333333333334vw) calc(7.5px + 0.5208333333333334vw) calc(15px + 1.0416666666666667vw) calc(7.5px + 0.5208333333333334vw);
}

.blogPage_gallery__item_header__tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #6c7988;
  font-size: 14px;
  font-weight: 400;
}

.blogPage_gallery__item_header__tags a {
  margin: 0 calc(10px + 0.6944444444444444vw) 0 0;
  transition: all 0.5s ease-in-out;
}

.blogPage_gallery__item_header__tags a:hover {
  color: #a3c5c3;
}

.blogPage_gallery__item_header__title {
  margin-bottom: 5px;
  color: #6c7988;
  line-height: calc(17px + 1.1805555555555556vw);
  font-size: calc(14px + 0.6944444444444444vw);
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.blogPage_gallery__item_header__title:hover {
  color: #a3c5c3;
}

.blogPage_gallery__item_img {
  background-color: #e0e6e9;
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogPage_gallery__item_img img {
  width: 200px;
  height: 200px;
}

.blogPage_gallery__item_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogPage_gallery__item_footer__date {
  color: #6c7988;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(15px + 1.0416666666666667vw);
  transition: all 0.5s ease-in-out;
}

.blogPage_gallery__item_footer__date:hover {
  color: #a3c5c3;
}

.blogPage_gallery__item_footer__author {
  color: #6c7988;
  transition: all 0.5s ease-in-out 0s;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(15px + 1.0416666666666667vw);
}

.blogPage_gallery__item_footer__author:hover {
  color: #a3c5c3;
}

.blogPage_gallery__item_secondfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogPage_gallery__item_secondfooter__comments {
  color: #6c7988;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}

.blogPage_gallery__item_secondfooter__comments:hover {
  color: #a3c5c3;
}

.blogPage_gallery__item_secondfooter__readBtn {
  color: #6c7988;
  transition: all 0.5s ease-in-out 0s;
  font-size: 14px;
  font-weight: 700;
}

.blogPage_gallery__item_secondfooter__readBtn:hover {
  color: #a3c5c3;
}

.blogPage_gallery__pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 calc(10px + 0.6944444444444444vw) calc(7.5px + 0.5208333333333334vw);
}

.blogPage_gallery__pagination_item {
  color: #6c7988;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(15px + 1.0416666666666667vw);
  padding: 6px calc(6px + 0.4166666666666667vw);
  transition: all 0.5s ease-in-out 0s;
}

.blogPage_gallery__pagination_item.active {
  color: #a3c5c3;
  border-bottom: 1px solid #a3c5c3;
}

.blogPage_gallery__pagination_item:hover {
  color: #a3c5c3;
}

/*----------------------Pagination------------------------*/

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 calc(10px + 0.6944444444444444vw) calc(7.5px + 0.5208333333333334vw);
}
.pagination .prev, .pagination .next {
  display: none;
}

.pagination li {
  color: #6c7988;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(15px + 1.0416666666666667vw);
  /*padding: 6px calc(6px + 0.4166666666666667vw);*/
  padding: 6px 10px;
  transition: all 0.5s ease-in-out 0s;
}

.pagination li.active {
  color: #a3c5c3;
  border-bottom: 1px solid #a3c5c3;
}

.pagination li:hover {
  color: #a3c5c3;
}


.blogPage_sidebar {
  width: 300px;
  margin: calc(7.5px + 0.5208333333333334vw);
}

.blogPage_sidebar__categories {
  margin: 0 0 calc(15px + 1.0416666666666667vw) 0;
}

.blogPage_sidebar__categories_title {
  line-height: calc(16px + 1.1111111111111112vw);
  margin: 0 0 calc(12px + 0.8333333333333334vw);
  font-size: calc(14px + 0.6944444444444444vw);
  font-weight: 700;
  color: #6c7988;
}

.blogPage_sidebar__categories_items__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #6c7988;
  font-size: 14px;
  border-bottom: 1px solid rgba(108, 121, 136, 0.1);
  margin: 0 0 10px;
}

.blogPage_sidebar__categories_items__item_text {
  font-weight: 700;
  line-height: calc(15px + 1.0416666666666667vw);
  transition: all 0.5s ease-in-out 0s;
}

.blogPage_sidebar__categories_items__item_text:hover {
  color: #a3c5c3;
}

.blogPage_sidebar__categories_items__item_counter {
  font-weight: 400;
}

.blogPage_sidebar__popPosts {
  margin: 0 0 calc(15px + 1.0416666666666667vw) 0;
}

.blogPage_sidebar__popPosts_title {
  line-height: calc(16px + 1.1111111111111112vw);
  margin: 0 0 calc(12px + 0.8333333333333334vw);
  font-size: calc(14px + 0.6944444444444444vw);
  font-weight: 700;
  color: #6c7988;
}

.blogPage_sidebar__popPosts_items__item {
  color: #6c7988;
  font-size: 14px;
  border-bottom: 1px solid rgba(108, 121, 136, 0.1);
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
}

.blogPage_sidebar__popPosts_items__item_date {
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}

.blogPage_sidebar__popPosts_items__item_date:hover {
  color: #a3c5c3;
}

.blogPage_sidebar__popPosts_items__item_title {
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.blogPage_sidebar__popPosts_items__item_title:hover {
  color: #a3c5c3;
}

.blogPage_sidebar__popPosts_items__item_comments {
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}

.blogPage_sidebar__popPosts_items__item_comments:hover {
  color: #a3c5c3;
}

.blogPage_sidebar__tags_title {
  line-height: calc(16px + 1.1111111111111112vw);
  margin: 0 0 calc(12px + 0.8333333333333334vw);
  font-size: calc(14px + 0.6944444444444444vw);
  font-weight: 700;
  color: #6c7988;
}

.blogPage_sidebar__tags_items {
  color: #6c7988;
  font-size: 14px;
}

.blogPage_sidebar__tags_items__item {
  display: inline-block;
  font-weight: 400;
  margin: 0 10px 0 0;
  transition: all 0.5s ease-in-out;
}

.blogPage_sidebar__tags_items__item:hover {
  color: #a3c5c3;
}

.post {
  background-color: #f9fafa;
  padding: calc(37.5px + 2.6041666666666665vw) 0 calc(37.5px + 2.6041666666666665vw) 0;
  color: #6c7988;
}

.post_wrap {
  width: 800px;
  margin: 0 auto;
}

.post_header {
  margin: 0 0 calc(10px + 0.6944444444444444vw) 0;
}

.post_header__tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.post_header__tags a {
  margin: 0 calc(10px + 0.6944444444444444vw) 0 0;
  transition: all 0.5s ease-in-out;
}

.post_header__tags a:hover {
  color: #a3c5c3;
}

.post_header__title {
  margin-bottom: 5px;
  line-height: calc(17px + 1.1805555555555556vw);
  font-size: calc(14px + 0.6944444444444444vw);
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.post_header__title:hover {
  color: #a3c5c3;
}

.post_header__img {
  background-color: #e0e6e9;
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_header__img img {
  width: 400px;
  height: 400px;
}

.post_header__date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_header__date_date {
  font-size: 14px;
  font-weight: 700;
  line-height: calc(15px + 1.0416666666666667vw);
  transition: all 0.5s ease-in-out;
}

.post_header__date_date:hover {
  color: #a3c5c3;
}

.post_header__date_author {
  transition: all 0.5s ease-in-out 0s;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(15px + 1.0416666666666667vw);
}

.post_header__date_author:hover {
  color: #a3c5c3;
}

.post_header__comments {
  font-size: 14px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}

.post_header__comments:hover {
  color: #a3c5c3;
}

.post_body {
  padding-bottom: calc(16px + 1.1111111111111112vw);
  border-bottom: 1px solid rgba(108, 121, 136, 0.2);
}

.post_body__text {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(13px + 0.9027777777777778vw);
  margin: 0 0 10px;
}

.post_body__quote {
  text-align: center;
  font-size: calc(14px + 0.1388888888888889vw);
  font-weight: 300;
  line-height: calc(15px + 1.0416666666666667vw);
  padding: 0 calc(30px + 2.0833333333333335vw) calc(15px + 1.0416666666666667vw);
  margin: 0 0 10px;
}

.post_body__img {
  background-color: #e0e6e9;
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_body__img img {
  width: 400px;
  height: 400px;
}

.post_body__img_description {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(13px + 0.9027777777777778vw);
  text-align: right;
  margin: 0 0 10px;
}

.post_body__subtitle {
  font-size: calc(14px + 0.1388888888888889vw);
  font-weight: 600;
  line-height: calc(13px + 0.9027777777777778vw);
  margin-top: calc(15px + 1.0416666666666667vw);
  margin-bottom: calc(7.5px + 0.5208333333333334vw);
}

.post_body__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

.post_body__list_item {
  padding: 0 0 10px calc(17.5px + 1.2152777777777777vw);
  font-size: 14px;
  font-weight: 400;
  line-height: calc(13px + 0.9027777777777778vw);
  list-style-type: none;
}

.post_body__list_item::before {
  content: "";
  display: inline-block;
  position: relative;
  top: -3px;
  left: -20px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6c7988;
}

.post_links {
  margin-bottom: calc(24px + 1.6666666666666667vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_links__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(13px + 0.9027777777777778vw);
  padding: 5px 0;
  transition: all 0.5s ease-in-out;
}

.post_links__item:hover {
  color: #a3c5c3;
}

.post_links__item p {
  margin: 0 5px;
}

.post_comments__title {
  font-size: calc(14px + 0.6944444444444444vw);
  line-height: calc(16px + 1.1111111111111112vw);
  font-weight: 700;
  margin-top: calc(10px + 0.6944444444444444vw);
  margin-bottom: calc(10px + 0.6944444444444444vw);
}

.post_comments__comment_head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #6c7988;
  font-size: calc(14px + 0.1388888888888889vw);
  font-weight: 700;
  line-height: calc(13px + 0.9027777777777778vw);
  margin-bottom: calc(10px + 0.6944444444444444vw);
  margin-top: 10px;
}

.post_comments__comment_head__img {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.64;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e6e9;
  margin-right: 10px;
}

.post_comments__comment_head__username {
  font-size: calc(14px + 0.1388888888888889vw);
  margin: 0 10px 0 10px;
}

.post_comments__comment_head__answerBtn {
  margin: 0 0 0 calc(20px + 1.3888888888888888vw);
  transition: all 0.5s ease-in-out;
}

.post_comments__comment_head__answerBtn:hover {
  color: #a3c5c3;
}

.post_comments__comment_text {
  margin-bottom: calc(12px + 0.8333333333333334vw);
  color: #6c7988;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(13px + 0.9027777777777778vw);
}

.post_comments__subcomment {
  margin: 0 0 0 9%;
}

.post_form__title {
  font-size: calc(14px + 0.6944444444444444vw);
  line-height: calc(16px + 1.1111111111111112vw);
  font-weight: 700;
  margin-top: calc(20px + 1.3888888888888888vw);
  margin-bottom: calc(10px + 0.6944444444444444vw);
}

.post_form__item .input-text {
  border-bottom: 1px solid #6c7988;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(15px + 1.0416666666666667vw);
  margin-bottom: calc(7.5px + 0.5208333333333334vw);
  color: #6c7988;
  height: calc(15px + 1.0416666666666667vw);
  outline: none;
  transition: all 0.5s ease-in-out;
  padding: 1px 2px;
}

.post_form__item .input-text:hover {
  border: none;
  border-bottom: 1px solid #a3c5c3;
  outline: none;
}

.post_form__item .input-textarea {
  border-bottom: 1px solid #6c7988;
  width: 100%;
  color: #6c7988;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(10px + 0.6944444444444444vw);
  margin-bottom: calc(7.5px + 0.5208333333333334vw);
  resize: none;
  outline: none;
  height: calc(40px + 2.7777777777777777vw);
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  overflow: auto;
}

.post_form__item .input-textarea:hover {
  border: none;
  border-bottom: 1px solid #a3c5c3;
  outline: none;
}

.post_form__item .btn {
  margin: 0 0 0 0;
}

.page404 {
  background-color: #f9fafa;
  padding: calc(50px + 3.4722222222222223vw) 0 calc(50px + 3.4722222222222223vw) 0;
  color: #6c7988;
}

.page404_content {
  text-align: center;
  margin: 0 0 calc(50px + 3.4722222222222223vw) 0;
}

.page404_content__text {
  font-size: calc(14px + 2.5vw);
  font-weight: 700;
}

.page404 .section_title__text {
  margin: calc(50px + 3.4722222222222223vw) 0 calc(25px + 1.7361111111111112vw) 0;
}

.head_menu {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  height: 60px;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid #e0e6e9;
}

.head_menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #6c7988;
  font-size: 14px;
  font-weight: 400;
  margin: 0 calc(10px + 0.6944444444444444vw);
  transition: all 0.5s ease-in-out;
  position: relative;
}

.head_menu__item:hover {
  color: #a3c5c3;
}

.head_menu__item.active::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #a3c5c3;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.head_menu.active {
  top: 0;
  transition: all 0.5s ease-in-out;
}

/*-----------------------*/

/*---------MEDIA---------*/

/*-----------------------*/

@media (max-width: 1100px) {
  .grid-item {
    width: 400px;
    height: 200px;
  }

  #grid {
    width: 820px;
  }
}

@media (max-width: 1000px) {
  .blogPage_wrap {
    display: block;
  }

  .blogPage_gallery {
    width: 630px;
    margin: 0 auto;
  }

  .blogPage_sidebar {
    width: 600px;
    margin: 20px auto;
  }
}

@media (max-width: 850px) {
  .blog_gallery {
    display: block;
  }

  .blog_gallery__item {
    margin: calc(7.5px + 0.5208333333333334vw) auto calc(15px + 1.0416666666666667vw) auto;
  }

  .header_menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .header_menu__item_img {
    margin: 0 auto calc(7.5px + 0.5208333333333334vw) auto;
  }

  .about_content {
    display: block;
  }

  .about_content__item {
    margin: 40px auto;
  }

  #grid {
    width: 410px;
  }

  .post_wrap {
    width: 700px;
  }

  .post_header__img,
  .post_body__img {
    width: 700px;
    height: 400px;
  }

  .post_header__img img,
  .post_body__img img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 800px) {
  .resume_content__parts_row {
    display: block;
  }

  .resume_content__parts_row__col {
    margin: 0 auto 0 auto;
  }

  .resume_content__parts_row__col_img {
    margin: 20px auto;
  }

  .contacts_content {
    display: block;
  }

  .contacts_content__info,
  .contacts_content__form {
    margin: 20px auto;
  }
}

@media (max-width: 750px) {
  .post_wrap {
    width: 600px;
  }

  .post_header__img,
  .post_body__img {
    width: 600px;
    height: 400px;
  }
}

@media (max-width: 650px) {
  .blogPage_gallery {
    width: 530px;
    margin: 0 auto;
  }

  .blogPage_gallery__item {
    width: 500px;
  }

  .blogPage_gallery__item_img {
    width: 500px;
    height: 300px;
  }

  .blogPage_sidebar {
    width: 500px;
    margin: 20px auto;
  }

  .post_wrap {
    width: 500px;
  }

  .post_header__img,
  .post_body__img {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 550px) {
  .header_menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .blogPage_gallery {
    width: 430px;
    margin: 0 auto;
  }

  .blogPage_gallery__item {
    width: 400px;
  }

  .blogPage_gallery__item_img {
    width: 400px;
    height: 300px;
  }

  .blogPage_sidebar {
    width: 400px;
    margin: 20px auto;
  }

  .post_wrap {
    width: 400px;
  }

  .post_header__img,
  .post_body__img {
    width: 400px;
    height: 200px;
  }

  .post_header__img img,
  .post_body__img img {
    width: 100px;
    height: 100px;
  }

  .post_comments__comment_head__addingTime {
    display: none;
  }
}

@media (max-width: 500px) {
  .header_title__text {
    font-size: 18px;
  }
}

@media (max-width: 450px) {

  .toMainLink {
    display: none;
  }

  .head_menu {
    display: none;
  }

  .menuOnMain {
    display: none;
  }

  .about_content__item {
    width: 300px;
  }

  .resume_content__parts_row__col {
    width: 350px;
  }

  .grid-item {
    width: 300px;
    height: 150px;
  }

  #grid {
    width: 320px;
  }

  .works_gallery__hover_content__description {
    font-size: 12px;
  }

  .blog_gallery__item {
    width: 300px;
  }

  .blog_gallery__item_img {
    width: 300px;
    height: 300px;
  }

  .modal_content {
    width: 300px;
  }

  .header_menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .blogPage_gallery {
    width: 330px;
    margin: 0 auto;
  }

  .blogPage_gallery__item {
    width: 300px;
  }

  .blogPage_gallery__item_img {
    width: 300px;
    height: 200px;
  }

  .blogPage_sidebar {
    width: 300px;
    margin: 20px auto;
  }

  .post_wrap {
    width: 300px;
  }

  .post_header__img,
  .post_body__img {
    width: 300px;
    height: 200px;
  }

  .post_header__img img,
  .post_body__img img {
    width: 100px;
    height: 100px;
  }

  .post_comments__comment_head__answerBtn {
    margin-left: 10px;
  }
}

@media (max-width: 430px) {
  .contacts_content__info,
  .contacts_content__form {
    width: 300px;
  }

  .head_menu {
    /*display: none;*/
  }

  .fixed_menu {
    /*display: none;*/
  }
}

@media (max-width: 400px) {
  .header_menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .header_title__text {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .post_wrap {
    width: 200px;
  }

  .post_header__img,
  .post_body__img {
    width: 200px;
    height: 100px;
  }

  .post_header__img img,
  .post_body__img img {
    width: 75px;
    height: 75px;
  }

  .post_comments__comment_head__img {
    display: none;
  }
}